.card {
    text-align: center;
    margin-bottom: 32px;
    transition: 1s;
}
.card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card:hover .card-title {
    color: #4834d4;
}
.card:hover .card-subtitle {
    font-weight: 700;
}
.card img {
    padding: 20px;
}
.card-title {
    text-decoration-line: none !important;
    font-weight: 500;
}
.card-subtitle {
    font-size: 20px;
    color: #fb0404 !important;
    font-weight: 600;
    margin-top: 12px !important;
}
.btn {
    background-color: #fd6868 !important;
    border: none !important;
    width: 100%;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s !important;
    padding: 12px !important;
}
.card:hover .btn {
    transform: translateY(-30px);
    opacity: 1;
}
.color_group {
    display: inline-flex;
    margin-top: 24px;
}
.color {
    margin: 0 4px;
}
.color1 {
    width: 20px;
    height: 20px;
    background-color: #81ecec;
    border-radius: 50%;
}
.color2 {
    width: 20px;
    height: 20px;
    background-color: #fd79a8;
    border-radius: 50%;
}
.color3 {
    width: 20px;
    height: 20px;
    background-color: #fab1a0;
    border-radius: 50%;
}
