.card {
    text-align: center;
    margin-bottom: 32px !important;
    transition: 1s;
    margin-right: 12px !important;
    background-color: var(--backgroud-color) !important;
    border: none !important;
}
a {
    text-decoration: none !important;
}
.card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card:hover .card-title {
    color: var(--secondary-color-semibold);
}

.card img {
    padding: 20px;
}
.card-title {
    font-weight: 500;
}
.card-subtitle {
    font-size: 16px;
    color: var(--main-color-bold) !important;
    font-weight: 700;
    margin-top: 12px !important;
}
.btn {
    background-color: var(--main-color-light) !important;
    border: none !important;
    width: 100%;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s !important;
    padding: 12px !important;
}
.btn:hover {
    background-color: var(--main-color-light2) !important;
}
.card:hover .btn {
    transform: translateY(-30px);
    opacity: 1;
}
.color_group {
    display: inline-flex;
    margin-top: 24px;
}
.color {
    margin: 0 4px;
}
.color1 {
    width: 16px;
    height: 16px;
    background-color: #062f2f;
    border-radius: 50%;
}
.color2 {
    width: 16px;
    height: 16px;
    background-color: #ee3e7c;
    border-radius: 50%;
}
.color3 {
    width: 16px;
    height: 16px;
    background-color: #f18a73;
    border-radius: 50%;
}
